.boxContain {
  display: flex;
  padding: 1.8em 1.2em;
  margin: 1.5em 0;
  box-shadow: 2px 2px 5px 5px #cacfd980;
  border-radius: 8px;
  width: 540px;
}
.div2 {
  display: flex;
  flex-direction: column;
}
.icon {
  margin-right: 1em;
}
.main {
  font-size: 1.2em;
  font-weight: 600;
}
.sub {
  width: 390px;
  opacity: 0.6;
  font-size: 1em;
}
.realativeIcon {
  position: relative;
}
.absoluteIcon {
  position: absolute;

  transform: translate(20px, -42px);
}
.arrow {
  display: flex;
  align-items: center;

  width: 30px;
}
/**#CC0B04*/
.border {
  border: 1px solid #cc0b04;
}
.text1 {
  font-size: 2.4em;
  font-weight: 600;
  letter-spacing: -0.1px;
}
.text2 {
  font-size: 1.4em;

  letter-spacing: -0.1px;
  opacity: 0.4;
  line-height: 28px;
}
.mapContain {
  width: 600px;
}

@media (max-width: 1000px) {
  .boxContain {
    width: 450px;
    background-color: rgba(34, 35, 36, 0.637);
    box-shadow: none;
  }
  .main {
    font-size: 0.8em;
    font-weight: 600;
  }
  .sub {
    width: 300px;
    opacity: 0.6;
    font-size: 0.8em;
  }
}
