.newanddemo {
}
.flexdisplay {
  display: flex;
  margin: 1.5em 0 0 0;
  justify-content: space-between;
  width: 92%;
}
.flexdisplay1 {
  display: flex;

  justify-content: space-between;
  width: 92%;
}

.hr {
  border-bottom: 1px solid;
  width: 300px;

  margin: 0.7em 0;
  list-style: 10px;
}
.text {
  margin: 0 1em;
}
@media (min-width: 800px) {
  .hr {
    width: 270px;
    border-color: black;
  }
  .center {
    width: 500px;
  }
}
@media (min-width: 992px) {
  .hr {
    width: 270px;
    border-color: black;
  }
  .center {
    width: 500px;
  }
}

@media (min-width: 100px) {
  .hr {
    width: 140px;

    opacity: 0.6;
  }
  .flexdisplay1 {
    width: 100%;
  }
  .center {
    width: 500px;
  }
}
@media (min-width: 700px) {
  .hr {
    width: 170px;

    opacity: 0.6;
  }
  .flexdisplay1 {
    width: 92%;
  }
  .center {
    width: 80px;
  }
}

.center {
  display: flex;
  justify-content: center;
  width: 480px;
  text-align: center;
  margin: 2em 0 0 0;
}
.absolute {
  position: absolute;

  font-size: 20px;

  font-weight: 700;
  opacity: 0.7;
}

@media only screen and (max-width: 600px) {
  .absolute {
    top: 80px;
    left: 40px;
    color: white;
  }
}

@media only screen and (max-width: 1000px) {
  .absolute {
    top: 80px;
    left: 40px;
    color: white;
  }
}
@media only screen and (min-width: 1000px) {
  .absolute {
    top: 80px;
    right: 500px;
    color: black;
  }
}
@media only screen and (min-width: 1100px) {
  .absolute {
    top: 80px;
    right: 600px;
    color: black;
  }
}
@media only screen and (min-width: 1200px) {
  .absolute {
    top: 80px;
    right: 600px;
    color: black;
  }
}
@media only screen and (min-width: 1300px) {
  .absolute {
    top: 80px;
    right: 500px;
    color: black;
  }
}
@media only screen and (min-width: 1400px) {
  .absolute {
    top: 80px;
    right: 700px;
    color: black;
  }
}
@media only screen and (min-width: 1600px) {
  .absolute {
    top: 80px;
    right: 500px;
    color: black;
  }
}
@media only screen and (min-width: 1700px) {
  .absolute {
    top: 80px;
    right: 840px;
    color: black;
  }
}
