.container {
  height: 72vh;
  width: 100%;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.text1 {
  font-size: 2.4em;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.781);
}
.hr {
  height: 0.5em;
  width: 4em;
  background-color: rgb(177, 24, 24);
  border-radius: 10px;
  margin: 0.9em;
}
.text2 {
  width: 100%;
  font-size: 10em;
  opacity: 0.4;
  text-align: center;
}
@media (max-width: 550px) {
  .container {
    height: 40vh;
  }
  .text2 {
    font-size: 2.2em !important;
  }
  .text1 {
    font-size: 1.4em;
  }
}
@media (max-width: 600px) {
  .container {
    height: 40vh;
  }
  .text2 {
    font-size: 3em !important;
  }
  .text1 {
    font-size: 1.4em;
  }
}

@media (max-width: 800px) {
  .container {
    height: 40vh;
  }
  .text2 {
    font-size: 4em !important;
  }
  .text1 {
    font-size: 1.4em;
  }
}

@media (max-width: 1200px) {
  .container {
    height: 40vh;
  }
  .text2 {
    font-size: 4em !important;
  }
  .text1 {
    font-size: 1.4em;
  }
}

@media (max-width: 1500px) {
  .container {
    height: 40vh;
  }
  .text2 {
    font-size: 4em !important;
  }
  .text1 {
    font-size: 1.4em;
  }
}
