/** Input style */
.container {
  width: 400px;
}
.inputContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 300000;
  margin-top: 1em;
  width: 100%;
}

.inputContainer:focus-within label {
  transform: translate(0px, 6px) scale(0.8);
  color: #5676b6;
}

.inputContainer .filled {
  transform: translate(0, 10px) scale(0.8);
  z-index: 30000000;
}

.inputContainer label {
  position: absolute;
  pointer-events: none;
  transform: translate(0, 11px) scale(1);
  transform-origin: top left;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  color: #6f81a5;
  font-size: 16px;
  line-height: 1;
  left: 16px;

  z-index: 3000;
}

.inputContainer input {
  height: 44px;
  border-radius: 4px;
  border: none;
  padding: 24px 16px 4px 16px;
  font-size: 16px;
  line-height: 1;
  outline: none;
  box-shadow: none;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  background-color: #e8f0fe;
}

.inputContainer input:focus {
  box-shadow: 0 0 0 2px #79b1ff00;
}
.continue {
  background-color: #cc0b04;
  color: white;
  padding: 0.5em 0;
  margin: 1.2em 0;
  border-radius: 4px;
}
.new {
  margin: 1.2em 0;
}
.ant-notification-notice-message {
  color: white !important;
}
.modal1 {
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;

  z-index: 999999999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.absolute1 {
  position: absolute;
  width: 100%;
  height: 200%;
  background-color: rgba(48, 52, 56, 0.513);
}
.contain1 {
  position: fixed;
  z-index: 99999999999;
}
