.newanddemo {
}
.flexdisplay {
  display: flex;
  margin: 1.5em 0 0 0;
  justify-content: space-between;
  width: 92%;
}
.flexdisplay1 {
  display: flex;

  justify-content: space-between;
  width: 92%;
}

.hr {
  border-bottom: 1px solid;

  margin: 0.7em 0;
  list-style: 10px;
}
.text {
  margin: 0 1em;
}
@media (min-width: 800px) {
  .hr {
    width: 100px;
  }
  .center {
    width: 500px;
  }
}
@media (min-width: 992px) {
  .hr {
    width: 100px;
  }
  .center {
    width: 500px;
  }
}

@media (min-width: 100px) {
  .hr {
    width: 100px;

    opacity: 0.6;
  }

  .center {
    width: 500px;
  }
}
@media (min-width: 700px) {
  .hr {
    width: 150px;

    opacity: 0.6;
  }

  .center {
    width: 80px;
  }
}

.center {
  display: flex;
  justify-content: center;
  width: 480px;
  text-align: center;
  margin: 2em 0 0 0;
}
.absolute {
  margin-top: -180px;
  margin-bottom: 100px;
  position: absolute;

  font-size: 20px;

  font-weight: 700;
  opacity: 0.7;
}

@media (max-width: 700px) {
  .flexdisplay {
    width: 100%;
  }
}

@media (max-width: 1700px) {
  .flexdisplay {
    width: 95%;
  }
}
.bottomabsolute {
  left: 60px;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 0 10% 0 0;
}
@media (min-width: 1000px) {
  .bottomabsolute {
    margin-top: 10em;
  }
}

@media (max-width: 1000px) {
  .bottomabsolute {
    margin-top: 3em;
  }
}

.get {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  /* identical to box height */

  text-align: center;
  color: #0068a3;
}
.need {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  /* identical to box height */

  text-align: center;
  color: #cc0b04;
}

.form-control:-webkit-autofill ~ label {
  opacity: 0.65 !important;
  transform: scale(0.05) translateY(-0.9rem) translateX(0.15rem) !important;
}
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;

  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.absolute {
  position: absolute;
  width: 100%;
  height: 200%;
  background-color: rgba(48, 52, 56, 0.513);
}
.contain {
  position: fixed;
  z-index: 9999;
}
.modal1 {
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;

  z-index: 999999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.absolute1 {
  position: absolute;
  width: 100%;
  height: 200%;
  background-color: rgba(48, 52, 56, 0.513);
}
.contain1 {
  position: fixed;
  z-index: 99999999;
}
