.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 7em 0;
}
.problem {
  color: #b80000;
  font-size: 1.4em;

  font-weight: 400;
}

.heading {
  font-size: 2.4em;
  font-weight: 600;
}

.title {
  margin-right: 40em;
}

.slider {
  margin-top: 1em;
  display: flex;
  width: calc(100%);
  overflow: scroll;
  scroll-snap-type: x mandatory;
  padding: 1em 0;
}
.slider::-webkit-scrollbar {
  width: 0;
}
.sliderBox {
  display: flex;
}
.button {
  display: flex;
  margin-top: 1em;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.opacity {
  opacity: 0.4;
}
.source {
  font-size: 1em;
  opacity: 0.6;
  margin-left: 3em;
}
.image {
  width: 15em;
  margin-left: 0.5em;
}
.image img {
  width: 100%;
}

.boxTitle {
  font-size: 2em;
  font-weight: 600;
  color: #b80000;
  margin-top: 0.3em;
}

.subBoxTitle {
  font-weight: 600;
  margin-top: 0.4em;
  font-size: 1.4em;
}

.active {
  background-color: white;
}

.box {
  width: 25em;
  /* box-shadow: 4px 3px 7px gainsboro; */
  padding: 1em 2em;
  margin: 0 1em;
  scroll-snap-align: center;
  border-radius: 10px;
  transition: all 0.5s ease-in;
  background-color: #f0f0f0;
  position: relative;
  height: fit-content;
}

.quote {
  width: 0.8em;
}
.quote img {
  width: 100%;
}
.absolute {
  height: fit-content;
  position: absolute;
  left: 1em;
  bottom: 0;
  display: flex;
  flex-direction: column;

  align-items: center;
  color: #13b123;
  font-weight: 400;
}

.line {
  height: 2em;
  border-left: 2px solid #13b123;
  margin-right: 0.5em;
}

.letter {
  transform: rotate(-90deg) translate(50%, 0);
}

.leftAbsolute {
  position: absolute;
  top: 0;
  left: 0;
  height: 20%;
  border-radius: 10px 0 0 0;
  border: 0.2em solid #b80000;
}
@media (max-width: 1000px) {
  .container {
    display: none;
  }
}
