.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 22222;
  display: flex;
  justify-content: center;
}
.absolute {
  position: absolute;
  width: 100%;
  height: 150%;
  background-color: rgba(49, 53, 53, 0.294);
  z-index: 12;
}
.contain {
  background-color: rgb(255, 255, 255);
  width: 38em;
  height: 21em;
  z-index: 22220;
  margin-top: 16%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em 3em;
  flex-wrap: wrap;
}
.container {
  width: 100%;
  height: 100%;

  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button {
  width: 20em;
  height: 2em;
  background-color: brown;
  text-align: center;
}
/** Input style */

.inputContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 3000000000;
  margin-top: 1em;
  width: 100%;
}

.inputContainer:focus-within label {
  transform: translate(0px, 6px) scale(0.8);
  color: #5676b6;
}

.inputContainer .filled {
  transform: translate(0, 10px) scale(1);
  z-index: 30000000;
}

.inputContainer label {
  position: absolute;
  pointer-events: none;
  transform: translate(0, 11px) scale(1);
  transform-origin: top left;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  color: #6f81a5;
  font-size: 16px;
  line-height: 1;
  left: 16px;

  z-index: 30000000;
}

.inputContainer input {
  height: 44px;
  border-radius: 4px;
  border: none;
  padding: 24px 16px 4px 16px;
  font-size: 16px;
  line-height: 1;
  outline: none;
  box-shadow: none;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  background-color: #e8f0fe;
}

.inputContainer input:focus {
  box-shadow: 0 0 0 2px #79b1ff00;
}
.continue {
  color: white;
  padding: 0.5em 0;
  margin: 1.2em 0;
  border-radius: 4px;
}
.new {
  margin: 1.2em 0;
}
.passcontain {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.passcontain1 {
  width: 100%;
  display: flex;
}
.leftpass {
  width: 49%;
}
.rightpass {
  width: 49%;
}
.paynow {
  width: fit-content;
  height: fit-content;
  background-color: #5676b6;
  margin-top: 1em;
  color: #e8f0fe;
  padding: 0.3em 1em;
  border-radius: 5px;
}
.row1 {
  width: 50%;
  height: 96vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.row2 {
  background-color: rgba(121, 120, 120, 0.171);
  width: 850px;
  height: 105vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -80px;
}
@media (max-width: 800px) {
  .container {
    flex-direction: column-reverse;
    margin-top: 70px !important;
  }
  .row1 {
    height: fit-content;
  }
  .row2 {
    height: fit-content;
    margin-top: 0;
  }
}
@media (max-width: 1700px) {
  .container {
    margin-top: 70px !important;
  }
}
