.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5em 0;
  width: 100%;
  cursor: default;
}

.title {
  font-size: 2.5em;
  font-weight: 600;
  color: #000022;
}

.hr {
  margin-top: 0.7em;
  border-bottom: 0.4em solid #b80000;
  width: 3%;
  border-radius: 20px;
}

.desc {
  width: 50%;
  margin-top: 2em;
  text-align: center;
  opacity: 60%;
}
.box {
  width: 30em;
  box-shadow: 4px 3px 7px 7px gainsboro;
  padding: 3em 2em;
  margin: 0 1em;
  scroll-snap-align: center;
  border-radius: 20px;
  transition: all 0.3s ease-in;
}

.quote {
  width: 0.8em;
}
.quote img {
  width: 100%;
}

.slider {
  margin-top: 4em;
  display: flex;
  width: 70%;
  overflow: scroll;
  scroll-snap-type: x mandatory;
  padding: 1em;
  padding-left: 15em;
}
.slider::-webkit-scrollbar {
  width: 0;
}
.sliderBox {
  display: flex;
}
.button {
  display: flex;
  margin-top: 1em;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.opacity {
  opacity: 0.3;
}
.source {
  margin-right: 1em;
  margin-right: auto;
  font-size: 0.6em;
  opacity: 0.6;
}
.image {
  width: 15em;
  margin-left: 0.5em;
}
.image img {
  width: 100%;
}

.boxTitle {
  font-size: 2em;
  font-weight: 600;
  color: #b80000;
  margin-top: 0.3em;
}

.subBoxTitle {
  font-weight: 600;
  margin-top: 0.4em;
}

.active {
  margin: 0 -15em;
  z-index: 5;
  background-color: white;
}

.getStarted {
  padding: 1em 4em;
  color: white;
  background-color: #b80000;
  margin-top: 1em;
  border-radius: 20px;
}
@media (max-width: 1000px) {
  .container {
    display: none;
  }
}
