.subTitle {
  color: gray;
}

.title {
  font-size: 2.5em;
  margin-top: 0.2em;
  font-weight: 900;
  font-family: "Roboto", sans-serif;

  color: #000;
  opacity: 0.7;
}

.desc {
  font-size: 1em;
  margin-top: 1em;
  opacity: 0.6;
}

.container {
  display: flex;
  margin: 2em 0 0 0;
  width: 100%;
}

.left {
  width: 50%;
}

.left img {
  width: 100%;
  object-fit: cover;
}
.right {
  width: calc(50% - 10em);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10em;
}

.hrr {
  margin: 1em 0;
  width: 30%;
  border-radius: 10px;
  border-top: 0.2em solid #a73434;
}

.getStarted {
  padding: 1em 4em;
  color: white;
  background-color: #b80000;
  margin-left: 1em;
  border-radius: 20px;
  width: fit-content;
  margin-top: 2em;
}
@media (max-width: 1000px) {
  .container {
    display: none;
  }
}
