.getStarted {
  padding: 1em 2.5em;
  color: white;
  background-color: #8645ff;
  margin-left: 8em;
  border-radius: 20px;
  width: fit-content;
  z-index: 2222;
  font-size: 0.9em;
  margin-top: 4.5em;
}
.getStarted2 {
  padding: 1em 2.5em;
  color: white;
  background-color: #8645ff;
  border-radius: 20px;
  width: fit-content;
  z-index: 2222;
  font-size: 0.7em;
}
.container {
  display: flex;
  padding: 4em 0;
  width: 100%;
  justify-content: center;
  margin: 0em 0;
  background-size: 300px 100px;
  position: relative;
  align-items: center;
}

.title {
  font-size: 3em;
  opacity: 0.8;
  font-weight: 600;
  color: #181059;
}
.desc {
  width: 30em;
  margin: 1em 0;
  margin-bottom: 2em;
  opacity: 0.6;
}
.left {
  z-index: 20;
  margin-left: 4em;
}
.options {
  display: flex;
  align-items: center;
  color: #8645ff;
  margin-top: 1em;
}

.text {
  margin-left: 0.6em;
}

.absolute {
  position: absolute;
  left: 0;
  top: 0;
  width: 14em;
}
.image {
  width: 100%;
}

.row {
  display: flex;
  position: relative;
}
.drop {
  background-color: #f8f4ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
}
.drop2 {
  background-color: #8645ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
}
.download {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-weight: 600;
  font-size: 1.2em;
}

.right {
  margin-left: 5em;
}

.box {
  display: flex;
  width: 20em;
  flex-direction: column;
  font-weight: 600;
  background-color: #181059;
  margin: 1em 0;
  font-size: 1.2em;
  color: white;
  padding: 1em;
  border-radius: 20px;
}
.white {
  background-color: white;

  color: #181059;
}
.price {
  display: flex;
  font-size: 0.9em;
  font-weight: 100;
  align-items: center;
}
.number {
  font-weight: 600;
}

.descri {
  font-size: 0.8em;
  font-weight: 400;
  margin: 2em 0;
}
.save {
  margin-left: 1em;
  color: #8645ff;
  font-size: 0.5em;
  background-color: white;
  padding: 0.5em 1em;
  border-radius: 10px;
}

.top {
  display: flex;
  align-items: center;
}
@media (max-width: 800px) {
  .getStarted {
    padding: 1em 2.5em;
    color: white;
    background-color: #8645ff;
    margin-left: 8em;
    border-radius: 20px;
    width: fit-content;
    z-index: 2222;
    font-size: 0.9em;
    margin-top: 4.5em;
  }
  .getStarted2 {
    padding: 1em 2.5em;
    color: white;
    background-color: #8645ff;
    border-radius: 20px;
    width: fit-content;
    z-index: 2222;
    font-size: 0.7em;
  }
  .container {
    display: flex;
    padding: 4em 0;
    width: 100%;

    justify-content: center;
    margin: 0em 0;
    background-size: 300px 100px;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }

  .title {
    font-size: 1em;
    opacity: 0.8;
    font-weight: 600;
    color: #181059;
  }
  .desc {
    width: 20em;
    margin: 1em 0;
    margin-bottom: 2em;
    opacity: 0.6;
  }
  .left {
    z-index: 20;
    margin-left: 0em;
  }
  .options {
    display: flex;
    align-items: center;
    color: #8645ff;
    margin-top: 1em;
  }

  .text {
    margin-left: 0.6em;
  }

  .absolute {
    position: absolute;
    left: 0;
    top: 0;
    width: 14em;
  }
  .image {
    width: 100%;
  }

  .row {
    display: flex;
    position: relative;
  }
  .drop {
    background-color: #f8f4ff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
  }
  .drop2 {
    background-color: #8645ff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
  }
  .download {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-weight: 600;
    font-size: 1.2em;
  }

  .right {
    margin-left: 4em;
  }

  .box {
    display: flex;
    width: 20em;
    flex-direction: column;
    font-weight: 600;
    background-color: #181059;
    margin: 1em 0;
    font-size: 1.2em;
    color: white;
    padding: 1em;
    border-radius: 20px;
  }
  .white {
    background-color: white;

    color: #181059;
  }
  .price {
    display: flex;
    font-size: 0.9em;
    font-weight: 100;
    align-items: center;
  }
  .number {
    font-weight: 600;
  }

  .descri {
    font-size: 0.8em;
    font-weight: 400;
    margin: 2em 0;
  }
  .save {
    margin-left: 1em;
    color: #8645ff;
    font-size: 0.5em;
    background-color: white;
    padding: 0.5em 1em;
    border-radius: 10px;
  }

  .top {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 800px) {
  .container {
  }
}

@media (max-width: 1800px) {
  .container {
    flex-direction: column;
  }

  .title {
    font-size: 2em;
    opacity: 0.8;
    font-weight: 600;
    color: #181059;
  }
  .desc {
    width: 25em;
    margin: 1em 0;
    margin-bottom: 2em;
    opacity: 0.6;
  }
  .right {
    margin-left: 1em;
  }
}
