.custumheader {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 10em 0 0;
}

@media (max-width: 1500px) {
  .custumheader {
    justify-content: center !important;
    margin-right: 0 !important;
  }
}
