.container{
    margin-top: auto;
    width: 100%;
    background-color: #EEEEEE;
    padding: 4em 0;
    margin-top: auto;
}

.top{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 5em;
}

.first{
    width: calc(35% - 20em) ;
    display: flex;
    flex-direction: column;
    padding: 0 2em;
    color: #000022;
}

.logo{
    width: 12em;
}
.logo img{
    width: 100%;
}

.text{
  
    font-size: 1em;
    margin-top: 1em;

    opacity: 0.6;
}
.icons svg{
    margin: 0 0.5em;
}

.icons{
    margin-top: 2em;
}

.second{
        width: calc(20% - 4em) ;
        display: flex;
        flex-direction: column;
        padding: 0 2em;
        color: #000022;
    
}

.textTitle{
    color: black;
    font-size: 1.4em;
    font-weight: 500;
    margin-bottom: 0.3em;
}
.subText{
    opacity: 0.6;
    margin: 0.4em 0;
}

.copyright{
      width: 100%;
      opacity: 0.6;
    text-align: center;
}
@media (min-width: 768px){
    
}