.relative {
  position: relative;
}

@media (max-width: 400px) {
  .container {
    bottom: 20px;
    right: 20px;
    z-index: 99999999999999999999999999 !important;
  }
  .image {
    width: 40px;
    height: 40px;
  }
}
.overlay {
  /* width: fit-content;
  height: fit-content; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 99999999999999999;
  position: absolute;
}

.contain {
  width: 100%;
  height: 95%;
  background-color: white;
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 9999999999999999999999999999;
}
.topDiv {
  display: flex;
  width: 100vw;
  /* justify-content: space-between; */
  /* background-color: aqua; */
  justify-content: space-between;
  padding: 5% 5%;
}

@media (min-width: 500px) {
  .contain {
    border-radius: 10px;
    width: 450px;
  }
  .topDiv {
    width: 420px !important;
    overflow: hidden !important;
  }
}
.WelcomeText {
  font-size: 1.1rem;
  font-weight: 500;
  opacity: 0.9;
  cursor: pointer;
}

.Close {
  font-size: 1.1rem;
  font-weight: 500;
  opacity: 0.9;
  cursor: pointer;
  color: brown;
}
.ImageDiv {
  width: 100%;
  height: 20%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 1.2em;
}
.image2 {
  height: 300px;
  width: 350px;
  object-fit: contain;
  border-radius: 30% !important;
  overflow: hidden !important;
}

.image21 {
  height: 300px;
  width: 350px;
  /* width: 90vw;
  object-fit: contain;
  border-radius: 30% !important;
  overflow: hidden !important; */
  object-fit: contain;
}
.socialMap {
  display: flex;
  color: black;
  justify-content: space-between;
  width: 100%;
  padding: 0 5%;
}
.socialdiv {
  width: 30%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(80, 78, 78, 0.103);
  border-radius: 10px;
  cursor: pointer;
}
.socialmediatext {
  margin-top: 1em;
  width: 100%;
  padding-left: 1em;
  margin-bottom: 1em;
}
.contactUsmap {
  width: 95%;
  background-color: rgba(80, 78, 78, 0.103);
  /* padding: 0 3%; */
  margin: 1em 3%;
  border-radius: 5px;
  padding: 0 3%;
}
.contact {
  display: flex;
  width: 90%;
  align-items: center;
  line-height: 20px;
  padding: 0.2em 0;
  cursor: pointer;
}
a.contact {
  color: #2e2c2ca6;
}
a.socialdiv {
  color: rgba(0, 0, 0, 0.692);
}
.icon {
  font-size: 2.3em;
}
.contacticon {
  padding: 0 0.5em 0.5em 0;
  margin-top: 0.5em;
}

.bottombar {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.bottom {
  background-color: rgba(80, 78, 78, 0.103);
  padding: 0.2em 1em;
  margin-bottom: 0.5em;
  border-radius: 5px;
  cursor: pointer;
}
.contacttext {
  font-size: 0.8em;
  margin-left: 0.4em;
  color: rgba(0, 0, 0, 0.301);
}

@media (min-width: 500px) {
  .overlay {
    height: 700px !important;
    width: 500px;
    right: -10px;
    bottom: 90px;
  }
}
@media (max-width: 499px) {
  .overlay {
    width: 100vw;
    height: 95vh;
    right: 0;
    bottom: 0px;
  }
}
.scroll {
  height: 90%;
  overflow-y: scroll;
}
.scroll::-webkit-scrollbar {
  width: 2px;
}

/* Track */
.scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.scroll::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.image111 {
  width: 350px;
  height: 150px;
  margin: 1em 0 0 45px;
  border-radius: 5px;
}

@media (max-width: 500px) {
  .image111 {
    margin-left: 30px;
  }
}

/*animatin*/
@media (max-width: 500px) {
  .overlay {
    animation-name: mobile;
    animation-duration: 1s;
  }
}
@keyframes mobile {
  from {
    margin-bottom: -50em;
  }
}
@media (min-width: 500px) {
  .overlay {
    animation-name: pc;
    animation-duration: 1s;
    animation-fill-mode: both;
  }
  .contain {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
      rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  }
}
@keyframes pc {
  from {
    margin-bottom: -50em;
  }
}

@media (max-width: 385px) {
  .image111 {
    width: 300px;
  }
}

@media (max-width: 330px) {
  .image111 {
    width: 280px;
    margin-left: 20px;
  }
}
